<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  <!-- ensures handlebars don't show before angular takes over -->
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-cloak>
  <select ng-init="greeting='Hi'" ng-model="greeting">
    <option value="Hello">Hello</option>
    <option value="Greetings">Greetings</option>
    <option value="Bonjour">Bonjour</option>
    <option value="Hola">Hola</option>
    <option value="Hi">Hi</option>
  </select>
  <label for="fname">First Name</label>
  <input id="fname" type=text ng-model="fname">

  <label for="lname">Last Name</label>
  <input id="lname" type="text" ng-model="lname">

  <h1>{{ greeting + " " + fname + " " + lname }}</h1>

  <p>The array [99,49,2] is {{ [99,49,2].length }} items long</p>

  {{3.14159265359 | currency: "&euro;"}}

  <label for="sentence"><h2>Say Something</h2></label>
  <input type="text" id="sentence" ng-model="sentence">

  <p>yelling: {{ sentence | uppercase }}</p>
  <p>whispering: {{ sentence | lowercase }}</p>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
</html>