<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  <!-- ensures handlebars don't show before angular takes over -->
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-cloak>
  <select ng-init="greeting='Hi'" ng-model="greeting">
    <option value="Hello">Hello</option>
    <option value="Greetings">Greetings</option>
    <option value="Bonjour">Bonjour</option>
    <option value="Hola">Hola</option>
    <option value="Hi">Hi</option>
  </select>
  <label for="fname">First Name</label>
  <input id="fname" type=text ng-model="fname">

  <label for="lname">Last Name</label>
  <input id="lname" type="text" ng-model="lname">

  <h1>{{ greeting + " " + fname + " " + lname }}</h1>

  <!-- currency filters -->
  <p>The array [99,49,2] is {{ [99,49,2].length }} items long</p>

  {{3.14159265359 | currency: "&euro;"}}

  <label for="sentence"><h2>Say Something</h2></label>
  <input type="text" id="sentence" ng-model="sentence">

  <!-- uppercase/lowercase filters  -->
  <p>yelling: {{ sentence | uppercase }}</p>
  <p>whispering: {{ sentence | lowercase }}</p>

  <!-- Number filters -->
  {{ 3.14159265359 | number:3 }}
  {{ 3.14159265359 | number:6 }}
  {{ 3.14159265359 | number:1 }}

  <label for="digits"><h2>How many digits of pi do you want?</h2></label>
  <select id="digits" ng-init="digits='2'" ng-model="digits">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>

  <p>Here you go! The first {{ digits }} digits of pi!</p>
  <p>{{ 3.14159265359 | number:digits }}</p>

  <!-- little tip calculator -->
  <h2>Super Useful Tip Calculator</h2>
  <label for="mealCost">How much did your meal cost?</label>
  <input id="mealCost" type="number" ng-model="mealCost">
  <label for="tipAmt">How much do you want to tip?</label>
  <select id="tipAmt" ng-model="tipAmt">
    <option value="0.10">10%</option>
    <option value="0.15">15%</option>
    <option value="0.20">20%</option>
  </select>
  <h2>Subtotal: {{ mealCost | currency }}</h2>
  <h2>Tip: {{ mealCost * tipAmt | currency }}</h2>

  <!-- Mad Lib  -->
  <h2>Please fill out the following!</h2>
  <label for="gname">Girl's name</label>
  <input type="text" ng-model="gname" id="gname">
  <label for="adj">Adjective</label>
  <input type="text" ng-model="adj" id="adj">
  <label for="pnoun1">Plural Noun</label>
  <input type="text" id="pnoun1" ng-model="pnoun1">
  <label for="pnoun2">Plural Noun</label>
  <input type="text" id="pnoun2" ng-model="pnoun2">
  <label for="insect">An insect, plural</label>
  <input type="text" id="insect" ng-model="insect">
  <label for="pnoun3">Plural Noun</label>
  <input type="text" id="pnoun3" ng-model="pnoun3">
  <label for="verb">A verb ending in "s"</label>
  <input type="text" ng-model="verb" id="verb">

  <h2>Mad Libs!!!</h2>
  <p>I'm in love with {{ gname }}. She's so {{ adj }}!! She has big flat {{ pnoun1 }} and when our {{ pnoun2 }} meet, I get {{ insect }} in my stomach. I've fallen for her like a ton of {{ pnoun3 }}, and she {{ verb }} me, too. But I think she has another lover. What should I do?</p>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
</html>